.cardRoot {

}

.heading {
  text-align: right;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 75px;
}

.primaryContainer {
  justify-content: end;
  text-align: right;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0.7rem 0;
  height: 2.5em;
  margin-left: 75px;
}

.tag {
  font-size: 13px;
  font-weight: 600
}

.secondaryContainer {
  display: flex;
  margin-top: 12px;
  margin-right: 10px;
}

.divider {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.metricsContainer {
  padding: 0 2.7em 2.7em 2.7em;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2.7em;
}