.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root {  
  width: 80vw;
  height: 70vh;
  border: 0px;
  box-shadow: none;
  overflow: hidden;
  overflow-y: scroll;
}

.tableContainer {
 max-height: 500px;

}

.table {
  width: 100%;
  height: 100%;
  border: 0px;
  box-shadow: none;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.headerCell {
  font-weight: bold;
  font-size: 1.2em;
  border-right: .5px solid #5d5959;
  border-top: .5px solid #5d5959;
  border-left: .5px solid #5d5959;
}

.tableCell{
  table-layout: auto;
  min-width: 150px;
  border-right: .5px solid #5d5959;
  border-left: .5px solid #5d5959;
}

p::before{
 visibility: hidden;
}